/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/vendor
/node_modules
/bower_components
/public/bower_components/*
.idea
storage/debugbar/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
storage/logs/*
public/packages/*
public/uploads/*
use-cases/*
_ide_helper.php
.meta.phpstorm.php
.phpstorm.meta.php
files/*
storage/app/tracks/*
public/uploads/thumbnail/*
public/uploads/medium/*
public/uploads/large/*
public/tracks/*
templates/